<form id="search-form" class="main-search border-less-inputs" role="form" method="post" action="{{ path('homepage') }}">
    <div class="input-row">
        <div class="form-group">
            <select class="form-control" name="country" id="country">
                <option value="0">{{ 'Country' | trans }}</option>
            </select>
        </div>
        <div class="form-group">
            <select class="form-control" name="region" id="region">
                <option value="0">{{ 'Region' | trans }}</option>
            </select>
        </div>
        <div class="form-group">
            <select class="form-control" name="city" id="city">
                <option value="0">{{ 'City' | trans }}</option>
            </select>
        </div>
        <!-- /.form-group -->
        <div class="form-group">
            <div class="input-group location">
                <input type="text" class="form-control" id="location" placeholder="{{ 'Enter Location' | trans }}">
                <span class="input-group-addon"><i class="fa fa-map-marker geolocation" data-toggle="tooltip" data-placement="bottom" title="{{ 'Find my position' | trans }}"></i></span>
            </div>
        </div>
        <!-- /.form-group -->
        <div class="form-group">
            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
        </div>
        <!-- /.form-group -->
    </div>
    <!-- /.input-row -->
</form>
<!-- /.main-search -->

<button id="advanced-search" style="display: none; margin: 0 0 10px 10px;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">{{ 'Advanced search' | trans }}</button>
