<div class="modal fade modal" id="investigator">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="toggle-navigation" style="float: right;">
                    <div class="icon" data-dismiss="modal">
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                    </div>
                </div>
                <h4 class="modal-title">{{ 'Investigator' | trans }}</h4>
            </div>
            <div class="container"></div>
            <form id="investigator-form" name="investigator" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="institution_type" class="control-label">{{ 'Institution Type' | trans }}:</label>
                        <select name="institution_type" id="institution_type">
                            <option value="0">{{ 'Select Institution Type' | trans }}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="institution" class="control-label">{{ 'Institution' | trans }}:</label>
                        <select name="institution" id="institution">
                            <option value="0">{{ 'Select Institution' | trans }}</option>
                        </select>
                    </div>
                    <hr>
                    <div class="form-group">
                        <label for="knowledge_area" class="control-label">{{ 'Knowledge Area' | trans }}:</label>
                        <select name="knowledge_area" id="knowledge_area">
                            <option value="0">{{ 'Select' | trans }} Area</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="knowledge" class="control-label">{{ 'Knowledge' | trans }}:</label>
                        <select name="knowledge" id="knowledge">
                            <option value="0">{{ 'Select' | trans }} {{ 'Knowledge' | trans }}</option>
                        </select>
                    </div>
                    <hr>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">{{ 'Topic Category' | trans }}:</label>
                        <select name="topic_category" id="topic_category">
                            <option value="0">{{ 'Select' | trans }} {{ 'Topic Category' | trans }}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="study_topic" class="control-label">{{ 'Study Topic' | trans }}:</label>
                        <select name="study_topic" id="study_topic">
                            <option value="0">{{ 'Select' }} {{ 'Study Topic' | trans }}</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn">{{ 'Clean fields' | trans }}</button>
                    <a href="#" data-dismiss="modal" class="btn">{{ 'Close' | trans }}</a>
                    <button type="submit" class="btn btn-default">{{ 'Search' | trans }}</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% block extra_css %}
    <style>
        div#investigator {
            top: 20px;
        }
        #investigator > div {
            margin: 10px auto;
        }
        .modal-body {
            max-height: calc(100vh - 212px);
            overflow-y: auto;
        }
        #investigator-form > div > div select{
            width: 60%;
        }
    </style>
{% endblock %}
{% block extra_js %}
    <script>
        $('#institution_type').change(function(){
            loadInstitution();
        });
        $('#knowledge_area').change(function(){
            loadKnowledge();
        });
        $('#topic_category').change(function(){
            loadStudyTopic();
        });
        function loadInstitutionType(){
            $.ajax({
                type: "GET",
                url: "{{ path('institution_type_list') }}"
            }).done(function( result ) {
                var data = eval(result);
                for(var i = 0; i < data.length; i++){
                    var newOption = $('<option/>');
                    newOption.text(data[i].name);
                    newOption.attr('value', data[i].id);
                    $('#institution_type').append(newOption)
                }
            });
        }
        function loadInstitution(){
            $("#institution").children().not(':eq(0), :selected').remove()
            var institutionType = $('#institution_type').find(':selected').val();
            $.ajax({
                type: "GET",
                url: "{{ path('homepage')}}institution/"+institutionType
            }).done(function( result ) {
                var data = eval(result);
                console.log('institution data', data)
                for(var i = 0; i < data.length; i++){
                    var newOption = $('<option/>');
                    newOption.text(data[i].name);
                    newOption.attr('value', data[i].id);
                    $('#institution').append(newOption)
                }
            });
        }
        function loadKnowledgeArea(){
            $.ajax({
                type: "GET",
                url: "{{ path('knowledge_area_list') }}"
            }).done(function( result ) {
                var data = eval(result);
                for(var i = 0; i < data.length; i++){
                    var newOption = $('<option/>');
                    newOption.text(data[i].name);
                    newOption.attr('value', data[i].id);
                    $('#knowledge_area').append(newOption);
                }
            });
        }
        function loadKnowledge(){
            $("#knowledge").children().not(':eq(0), :selected').remove()
            var knowledge_area = $('#knowledge_area').find(':selected').val();
            $.ajax({
                type: "GET",
                url: "{{ path('homepage')}}knowledge/"+knowledge_area
            }).done(function( result ) {
                var data = eval(result);
                for(var i = 0; i < data.length; i++){
                    var newOption = $('<option/>');
                    newOption.text(data[i].name);
                    newOption.attr('value', data[i].id);
                    $('#knowledge').append(newOption)
                }
            });
        }
        function loadTopicCategory(){
            $.ajax({
                type: "GET",
                url: "{{ path('topic_category_list') }}"
            }).done(function( result ) {
                var data = eval(result);
                for(var i = 0; i < data.length; i++){
                    var newOption = $('<option/>');
                    newOption.text(data[i].name);
                    newOption.attr('value', data[i].id);
                    $('#topic_category').append(newOption);
                }
            });
        }
        function loadStudyTopic(){
            $('#study_topic').children().not(':eq(0), :selected').remove()
            var topic_category = $('#topic_category').find(':selected').val();
            $.ajax({
                type: "GET",
                url: "{{ path('homepage')}}study_topic/"+topic_category
            }).done(function( result ) {
                var data = eval(result);
                for(var i = 0; i < data.length; i++){
                    var newOption = $('<option/>');
                    newOption.text(data[i].name);
                    newOption.attr('value', data[i].id);
                    $('#study_topic').append(newOption)
                }
            });
        }
        loadInstitutionType();
        loadKnowledgeArea();
        loadTopicCategory();

        $('#investigator-form').bind('submit', function(e) {
            e.preventDefault();
            var city = $('#city').find(':selected').val();
            var institution = $('#institution').find(':selected').val();
            var knowledge = $('#knowledge').find(':selected').val();
            var study_topic = $('#study_topic').find(':selected').val();

            if (institution != 0 || knowledge != 0 || study_topic != 0){
                var url =  "{{ path('homepage') }}userProfile/filter/"+city+"/"+institution+"/"+knowledge+"/"+study_topic;
                loadMap(url, "investigator");
                $('.modal').modal('hide');
            }
        });
    </script>
{% endblock %}