{% extends "admin/base.html.twig" %}

{% block title %}{{ 'Edit Profile' | trans }}{% endblock %}

{% block top_content %}
    {% embed ':_partial:breadcrumb.html.twig' %}
        {% block breadcrumb %}{{ 'Edit Profile' | trans }}{% endblock %}
    {% endembed %}
{% endblock %}

{% block content %}
<div class="col-md-12">
    {% include 'FOSUserBundle:Profile:edit_content.html.twig' %}
</div>

{#<div class="col-md-6">#}
    {#<div class="card">#}
        {#<div class="card-header">#}
            {#<strong>Profile</strong>#}
        {#</div>#}
        {#<form method="POST" action="{{ path('user_edit', {'id': entity.id }) }}" {{ form_enctype(form) }} class="form-horizontal">#}
            {#<div class="card-block">#}
                {#<div class="form-group row">#}
                    {#<label class="col-md-3 form-control-label" for="first-name">First Name</label>#}
                    {#<div class="col-md-9">#}
                        {#{{ form_widget(form.first_name, { 'attr': { 'class': 'form-control', 'placeholder': 'John'}}) }}#}
                    {#</div>#}
                    {#{{ form_errors(form.first_name) }}#}
                {#</div>#}
                {#<div class="form-group row">#}
                {#<label class="col-md-3 form-control-label" for="last-name">Last Name</label>#}
                    {#<div class="col-md-9">#}
                        {#{{ form_widget(form.last_name, { 'attr': { 'class': 'form-control', 'placeholder': 'Smith'}}) }}#}
                    {#</div>#}
                    {#{{ form_errors(form.last_name) }}#}
                {#</div>#}
                {#<div class="form-group row">#}
                    {#<label class="col-md-3 form-control-label" for="email">Email</label>#}
                    {#<div class="col-md-9">#}
                        {#{{ form_widget(form.email, { 'attr': { 'class': 'form-control', 'placeholder': 'smith@mail.com', 'disabled': 'disabled'}}) }}#}
                    {#</div>#}
                    {#{{ form_errors(form.email) }}#}
                {#</div>#}
                {# input to change role #}
                {#<div class="form-group row">#}
                    {#<label class="col-md-3 form-control-label">User type</label>#}
                    {#<div class="col-md-9">#}
                        {#{% for role in form.roles.children %}#}
                            {#<div class="radio">#}
                            {#{% if role.vars.value in entity.roles %}#}
                                {#{{ form_widget(role, {'attr' : {'checked':true, 'type': 'hidden'}}) }}#}
                                {#{{ form_label(role) }}#}
                            {#{% else %}#}
                                {#{{ form_widget(role, {'attr' : {'checked':false, 'type': 'hidden'}}) }}#}
                                {#{{ form_label(role) }}#}
                            {#{% endif %}#}
                            {#</div>#}
                        {#{% endfor %}#}
                    {#</div>#}
                {#</div>#}

                {#<div class="form-group row">#}
                    {#<label class="col-md-3 form-control-label" for="job-title">Job Title</label>#}
                    {#<div class="col-md-9">#}
                        {#<input id="job-title" type="text" name="job_title" value="{{ profile.jobTitle }}" class="form-control" placeholder="Bioinvestigator">#}
                    {#</div>#}
                {#</div>#}
                {#<div class="form-group row">#}
                    {#<label for="summernote" class="col-md-3 form-control-label">Summary</label>#}
                    {#<div class="col-md-12">#}
                        {#<textarea name="summary" id="summary" cols="30" rows="50">{{ profile.summary }}</textarea>#}
                    {#</div>#}
                {#</div>#}
                {#<br>#}
                {#<div class="form-group row">#}
                    {#<label class="col-md-3 form-control-label" for="search-address">Address</label>#}
                    {#<span class="help-block">Please type your address and move the marker</span>#}
                    {#<div class="col-md-9">#}
                        {#<input id="search-address" type="text" name="address" value="{{ profile.address ? profile.address.address }}" class="form-control controls" placeholder="Search address">#}
                    {#</div>#}
                    {#<input id="lat" type="hidden" name="latitude" value="{{ profile.address ? profile.address.latitude : 0 }}"><br>#}
                    {#<input id="lng" type="hidden" name="longitude" value="{{ profile.address ? profile.address.longitude : 0 }}">#}
                {#</div>#}
                {#<div class="form-group row" style="margin-bottom: 0rem;">#}
                    {#<div class="col-md-12">#}
                        {#<div id="map-canvas"></div>#}
                    {#</div>#}
                {#</div>#}
                {#<br>#}
                {#<div class="form-group row">#}
                    {#<label for="current-image" class="col-md-3 form-control-label">Current Image</label>#}
                    {#<div class="col-md-9">#}
                        {#{% if entity.imageName %}#}
                            {#<figure>#}
                                {#<img src="{{asset(vich_uploader_asset(entity, 'image')) }}" width="50%"  style="margin: auto; display: block;">#}
                            {#</figure>#}
                        {#{% else %}#}
                            {#Doesn't have a profile image#}
                        {#{% endif %}#}
                    {#</div>#}
                {#</div>#}
                {#<div class="form-group row">#}
                    {#<label class="col-md-3 form-control-label" for="image">Change Image</label>#}
                    {#<div class="col-md-9">#}
                        {#{{ form_widget(form.image, { 'attr': { 'class': 'form-control'}}) }}#}
                    {#</div>#}
                    {#{{ form_errors(form.image) }}#}
                {#</div>#}
                {#{{ form_rest(form) }}#}
            {#</div>#}
            {#{{ dump(form) }}#}
            {#<div class="card-footer">#}
                {#<a href="{{ path('fos_user_profile_show') }}" class="btn btn-sm btn-success"><i class="fa fa-mail-reply"></i> Back</a>#}
                {#<button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>#}
            {#</div>#}
        {#</form>#}
    {#</div>#}
{#</div>#}
{% endblock %}

{% block extra_css %}
    <style>
        #map-canvas {
            height: 400px;
            width: 100%;
        }
        .controls {
            margin-top: 10px;
            border: 1px solid transparent;
            border-radius: 2px 0 0 2px;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            height: 32px;
            outline: none;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        }
        #search-address {
            background-color: #fff;
            font-family: Roboto;
            font-size: 15px;
            font-weight: 300;
            margin-left: 12px;
            padding: 0 11px 0 13px;
            text-overflow: ellipsis;
            width: 300px;
        }
        #search-address:focus {
            border-color: #4d90fe;
        }
    </style>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.css">

    <!-- Include Editor style. -->
    <link href="{{ asset('assets/froala_editor/css/froala_editor.pkgd.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/froala_editor/css/froala_style.min.css') }}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{{ asset('assets/css/wizard.css') }}">
{% endblock %}