{% extends ":admin:base.html.twig" %}

{% block title %}{{ 'Profile' | trans }}{% endblock %}

{% block top_content %}
    {% embed ':_partial:breadcrumb.html.twig' %}
        {% block breadcrumb %}{{ 'Profile' | trans }}{% endblock %}
    {% endembed %}
{% endblock %}

{% block content %}
    <div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
        <div class="well profile">
            <div class="col-sm-12">
                <div class="col-xs-12 col-sm-8">
                    <h2>{{ user.firstName }} {{ user.lastName }} </h2>
                    <p><strong>{{ 'Email' | trans }}: </strong> {{ user.email }}</p>
                    <p><strong>{{ 'Username' | trans }}: </strong> {{ user.username }}</p>
                    {% if not is_granted('ROLE_SUPER_ADMIN') %}
                    <p>
                        <strong>{{ 'User type' | trans }}: </strong>
                        {% if is_granted('ROLE_PRODUCER') %}
                            {{ 'Producer' | trans }}
                        {% endif %}
                        {% if is_granted('ROLE_INVESTIGATOR') %}
                            {{ 'Investigator' | trans }}
                        {% endif %}
                    </p>
                    {% endif %}
                </div>
                <div class="col-xs-12 col-sm-4 text-center">
                    {% if user.imageName %}
                        <figure>
                            <img src="{{asset(vich_uploader_asset(user, 'image')) }}" style="width: 100px; height: 100px;" alt="" class="img-avatar">
                        </figure>
                   {% endif %}
                </div>
            </div>
            <div class="col-sm-12">
                {% if not is_granted('ROLE_ADMIN') %}
                    <a class="btn btn-primary" href="{{ path('user_edit',{id: user.id}) }}">{{ 'Edit Profile' | trans }}</a>
                {% endif %}
                <a class="btn btn-warning" href="{{ path('fos_user_change_password',{id: user.id}) }}">{{ 'Edit Password' | trans }}</a>
            </div>
        </div>
    </div>
{% endblock %}