{% extends ':admin:base.html.twig' %}

{% block title %}Categoría{% endblock %}

{% block top_content %}
    {% embed ':_partial:breadcrumb.html.twig' %}
        {% block breadcrumb %}Categoría{% endblock %}
    {% endembed %}
{% endblock %}

{% block content %}
<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <i class="fa fa-align-justify"></i> Gestor de categorías
        </div>
        <div class="card-block">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Categoria principal</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                {%  for entity in entities %}
                    {% if entity.id != 1 %}
                    <tr>
                        <td>{{ entity.id }}</td>
                        <td>{{ entity.name }}</td>
                        <td>
                            {% if entity.parent %}
                                {{ entity.parent.name }}
                            {% endif %}
                        </td>
                        <td>{{ entity.status.name }}</td>
                        <td>
                            <a href="{{ path('category_edit', {id: entity.id}) }}"><i class="fa fa-pencil"></i></a>
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Prev</a>
                </li>
                <li class="page-item active">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">2</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">4</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}