<div id="marketing_spaces" class="type" style="display:none;">
    <div class="card">
        <div class="card-header">
            {{ 'Marketing Spaces' | trans }}
        </div>
        <div class="card-block">
               <div class="form-group row">
                    <label class="col-md-3 form-control-label">{{ 'Market where Sold' | trans }}</label>
                    <div class="col-md-9">
                        {% for child in form.marketing_spaces.marketWhereSold %}
                            {% set name = child.vars.label %}
                            <div>
                                {{ form_widget(child) }}      
                                {{ name | trans }}
                            </div>
                        {% endfor %}                        
                    </div>
                </div>   
                <div class="form-group row">
                    <label class="col-md-3 form-control-label">{{ 'Type' | trans }}</label>
                    <div class="col-md-9">
                        {% for child in form.marketing_spaces.type %}
                            {% set name = child.vars.label %}
                            <div>
                                {{ form_widget(child) }}      
                                {{ name | trans }}
                            </div>
                        {% endfor %}                        
                    </div>
                </div>                  
                <div class="form-group row">
                    <label class="col-md-3 form-control-label">{{ 'Periodicity' | trans }}</label>
                    <div class="col-md-9">
                        {% for child in form.marketing_spaces.periodicity %}
                            {% set name = child.vars.label %}
                            <div>
                                {{ form_widget(child) }}      
                                {{ name | trans }}
                            </div>
                        {% endfor %}                        
                    </div>
                </div>              
                <div class="form-group row" style="margin-top: 0">
                    <label class="col-md-3 form-control-label" for="peopleInvolved">{{ 'People Involved' | trans }}</label>
                    <div class="col-md-9">
                        {{ form_widget(form.marketing_spaces.peopleInvolved, { 'attr': { 'class': 'form-control'}}) }}
                    </div>
                    {{ form_errors(form.marketing_spaces.peopleInvolved) }}
                </div>
                <div class="form-group row" style="margin-top: 0">
                    <label class="col-md-3 form-control-label" for="comment">{{ 'Comments' | trans }}</label>
                    <div class="col-md-9">
                        {{ form_widget(form.marketing_spaces.comment, { 'attr': { 'class': 'form-control'}}) }}
                    </div>                    
                </div>
        </div>
    </div>
</div>