{% extends ':homepage:base.html.twig' %}

{% block title %}homepage{% endblock %}

{% block bodyClass %}map-fullscreen page-homepage navigation-off-canvas{% endblock %}
{% block content %}
    <!-- Map Canvas-->
    {{ dump() }}
    {% for institution in institutionType %}
        {{ institution.name }}<br>
    {% endfor %}
    <div class="map-canvas list-width-30 results-collapsed">
        <div class="map">
            <div class="toggle-navigation">
                <div class="icon">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
            </div>
            <div id="map" class="has-parallax"></div>

            <div class="search-bar horizontal">
                {% include ':homepage/map:search_form.html.twig' %}
            </div>
        </div>

        <!--Items List-->
        {% include ':homepage/map:item_list.html.twig' %}
    </div>
{% endblock %}

{% block extra_js %}
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCt1dtSkxqSIbtWoF-DfeUTZb906mihfh4&libraries=places"></script>
        <script type="text/javascript" src="{{ asset('assets/spotter/js/infobox.js')}}"></script>
        <script type="text/javascript" src="{{ asset('assets/spotter/js/richmarker-compiled.js')}}"></script>
        <script type="text/javascript" src="{{ asset('assets/spotter/js/markerclusterer.js')}}"></script>
        <script type="text/javascript" src="{{ asset('assets/spotter/js/custom.js')}}"></script>
        <script type="text/javascript" src="{{ asset('assets/spotter/js/maps.js')}}"></script>
    <script>
        var url =  "{{ path('user_list') }}";
        function loadMap(url){
            var _latitude = 51.541216;
            var _longitude = -0.095678;

            $.ajax({
                type: "GET",
                url: url
            }).done(function(result){
                var json = JSON.parse(result);
                console.log('data ', json);
                createHomepageGoogleMap(_latitude,_longitude,json);
            }).fail(function( jqxhr, textStatus, error ) {
                console.log(error);
            });
        }
        // Set if language is RTL and load Owl Carousel
        $(window).load(function(){
            var rtl = false; // Use RTL
            initializeOwl(rtl);
        });

        loadMap(url);
        autoComplete();

    </script>
{% endblock %}