{% extends 'base.html.twig' %}
{% block title %}Inicio{% endblock %}
{% block bodyClass %}map-fullscreen page-homepage navigation-off-canvas{% endblock %}
{% block content %}        
    <!-- Map Canvas-->
    <div class="map-canvas list-width-30">
        <img class='imgloading' style="display:none;" id="mapLoader" src='{{ asset('bundles/app/img/loading.gif') }}' alt='Cargando...' />
        <div class="map">
            <div class="toggle-navigation">
                <div class="icon" id="iconLeftBar">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
            </div>
            <div class="search-bar horizontal">
                {% include ':homepage/map:search_form.html.twig' %}
            </div>
            <div id="map" class="has-parallax">
                <img class="imgloading" src="{{ asset('bundles/app/img/loading.gif') }}" alt="Cargando..." />
            </div>
        </div>

        <input type="hidden" id="redefinesearch" value="{{ app.session.get('redefinesearch') }}">
        <input type="hidden" id="searchcountry" value="{{ app.session.get('country') }}">
        <input type="hidden" id="searchregion" value="{{ app.session.get('region') }}">
        <input type="hidden" id="searchcity" value="{{ app.session.get('city') }}">
        <input type="hidden" id="searchtypeuser" value="{{ app.session.get('usertype') }}">
        
        <!--Items List-->
        {% include ':homepage/map:item_list.html.twig' %}
    </div>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ asset('assets/css/home.css') }}" type="text/css">
{% endblock %}
{% block extra_js %}
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCt1dtSkxqSIbtWoF-DfeUTZb906mihfh4&libraries=places"></script>
        <script type="text/javascript" src="{{ asset('assets/spotter/js/infobox.js')}}"></script>
        <script type="text/javascript" src="{{ asset('assets/spotter/js/richmarker-compiled.js')}}"></script>
        <script type="text/javascript" src="{{ asset('assets/spotter/js/markerclusterer.js')}}"></script>
        <script type="text/javascript" src="{{ asset('assets/spotter/js/custom.js')}}"></script>
        <script type="text/javascript" src="{{ asset('assets/spotter/js/maps.js')}}"></script>
        <script type="text/javascript" src="{{ asset('assets/js/home.js')}}"></script>
        <script>
            loadMap("{{ path('user_list') }}", 'all');
            autoComplete();

            function filterByUser(type){
                $("#mapLoader").show();
                document.getElementById("type-user").value = type;
                var url;
                var city = $('#city').find(':selected').val();
                if (city != 0){
                    if (type=='investigator')
                        url = Routing.generate('homepage_user_profile_city_show', { id: city });
                    else if (type=='producer')
                        url = Routing.generate('homepage_practice_profile_city_show', { id: city });

                    $("#usertype").val = type;
                    loadMap(url,type);
                }else{
                    url =  Routing.generate('user_list');
                    loadMap(url,type);
                }
                $("#advanced-search").removeClass('disabled');
            }


            $('#advanced-search').click(function () {
                type = $("#type-user").val();
                if (type == "investigator"){
                    $('#investigator').modal({
                        show: true
                    })
                }else if (type == "producer"){
                    $('#producer').modal({
                        show: true
                    })
                }
            });
        </script>
{% endblock %}