{% extends ':homepage:base.html.twig' %}

{% block title %}homepage{% endblock %}

{% block bodyClass %}map-fullscreen page-homepage navigation-off-canvas{% endblock %}
{% block content %}
    <!-- Map Canvas-->
    <div class="map-canvas list-width-30 results-collapsed">
        <div class="map">
            <div class="toggle-navigation">
                <div class="icon">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
            </div>
            <div class="search-bar horizontal">
                {% include ':homepage/map:search_form.html.twig' %}
            </div>
            <div id="map" class="has-parallax"></div>
        </div>

        <!--Items List-->
        {% include ':homepage/map:item_list.html.twig' %}
    </div>
{% endblock %}

{% block extra_css %}
    {{ parent() }}
    <style>
        select.form-control {
            display: block;
            height: 40px;
            background-color: #fff;
            background-image: none;
            border: 0px solid #fff;
            border-radius: 0px;
        }
        #page-footer .inner {
            padding-top: 0px;
        }
        #search-form > div > div:nth-child(5){
            width: 23.2% !important;
        }
    </style>
{% endblock %}
{% block extra_js %}
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCt1dtSkxqSIbtWoF-DfeUTZb906mihfh4&libraries=places"></script>
        <script type="text/javascript" src="{{ asset('assets/spotter/js/infobox.js')}}"></script>
        <script type="text/javascript" src="{{ asset('assets/spotter/js/richmarker-compiled.js')}}"></script>
        <script type="text/javascript" src="{{ asset('assets/spotter/js/markerclusterer.js')}}"></script>
        <script type="text/javascript" src="{{ asset('assets/spotter/js/custom.js')}}"></script>
        <script type="text/javascript" src="{{ asset('assets/spotter/js/maps.js')}}"></script>
    <script>
        var type = "all";
        var url =  "{{ path('user_list') }}";
        function loadMap(url, type){
            var _latitude = 31.541216;
            var _longitude = -0.095678;

            $.ajax({
                type: "GET",
                url: url
            }).done(function(result){
                console.log('type',type);
                var json = JSON.parse(result);
                var place = $('#city').find(':selected').val();

                for (var i = 0; i < json.length; i++) {
                    //console.log('json', json[i].user)
                    if (type == "investigator"){
                        if (json[i].user.roles.includes("ROLE_PRODUCER")){
                            console.log('indice', i);
                            console.log('json', json[i]);
                            json.splice(i--,1);
                        }
                    } else if (type == "producer"){
                        if (json[i].user.roles.includes("ROLE_INVESTIGATOR")){
                            console.log('indice', i);
                            console.log('json', json[i]);
                            json.splice(i--,1);
                        }
                    }
                }
//                console.log('after if json', json)
                createHomepageGoogleMap(_latitude,_longitude,json);
            }).fail(function( jqxhr, textStatus, error ) {
                console.log(error);
            });
        }
        // Set if language is RTL and load Owl Carousel
        $(window).load(function(){
            var rtl = false; // Use RTL
            initializeOwl(rtl);
        });

        loadMap(url, type);
        autoComplete();
    </script>
    <script>
        $('#country').change(function(){
            loadRegion();
        });
        $('#region').change(function(){
            loadCity();
        });
        function loadCountry(){
            $.ajax({
                type: "GET",
                url: "{{ path('country_list') }}"
            }).done(function( result ) {
                var data = eval(result);
//                console.log('country',data)
                for(var i = 0; i < data.length; i++){
                    var newOption = $('<option/>');
                    newOption.text(data[i].name);
                    newOption.attr('value', data[i].id);
                    $('#country').append(newOption);
                }
                var country = $('#country').find(':selected').val();
                if (country != 0){
                    loadRegion();
                }
            });
        }

        function loadRegion(){
            $("#region").children().remove();
            var country = $('#country').find(':selected').val();
            if(country != 0){
                $.ajax({
                    type: "GET",
                    url: "{{ path('homepage')}}region/"+country
                }).done(function( result ) {
                    var data = eval(result);
                    for(var i = 0; i < data.length; i++){
                        var newOption = $('<option/>');
                        newOption.text(data[i].name);
                        newOption.attr('value', data[i].id);
                        $('#region').append(newOption);
                    }
                    loadCity();
                });
            }
        }

        function loadCity(){
            $("#city").children().remove();
            var region = $('#region').find(':selected').val();
            if(region != 0){
                $.ajax({
                    type: "GET",
                    url: "{{ path('homepage')}}city/"+region
                }).done(function( result ) {
                    var data = eval(result);
                    for(var i = 0; i < data.length; i++){
                        var newOption = $('<option/>');
                        newOption.text(data[i].name);
                        newOption.attr('value', data[i].id);
                        $('#city').append(newOption);
                    }
                });
            }
        }
        loadCountry();

        $('#search-form').bind('submit', function(e) {
            e.preventDefault();
            var city = $('#city').find(':selected').val();
            type = $("#type-user").val();
            
            if (city != 0){
                if (type == 'investigator')
                    var url =  "{{ path('homepage') }}userProfile/city/"+city;
                else if (type == 'producer')
                    var url =  "{{ path('homepage') }}agroecologicalPractice/city/"+city;
                else if (type == 'all')
                    var url =  "{{ path('homepage') }}userProfile/all/city/"+city;
                                
                console.log('clickl form',type)
                loadMap(url,type);
            }
        });

        function filterByUser(type){
            console.log('apply filter by user', type);
            document.getElementById("type-user").value = type;
            var url;
            var city = $('#city').find(':selected').val();
            if (city != 0){
                if (type=='investigator')
                    url =  "{{ path('homepage') }}userProfile/city/"+city;
                else if (type=='producer')
                    url =  "{{ path('homepage') }}agroecologicalPractice/city/"+city;
                
                $("#usertype").val = type;
                console.log('city ',city)
                loadMap(url,type);
            }else{
                url =  "{{ path('user_list') }}";
                loadMap(url,type);
            }
            $("#advanced-search").removeClass('disabled');
        }

        $('#advanced-search').click(function () {
            type = $("#type-user").val();
            console.log('click con type', type)
            if (type == "investigator"){
                $('#investigator').modal({
                    show: true
                })
            }else if (type == "producer"){
                $('#producer').modal({
                    show: true
                })
            }
        });

    </script>
{% endblock %}