{% extends ':homepage:base.html.twig' %}

{% block title %}homepage{% endblock %}

{% block content %}

    {#<ul>#}
        {#{% for user in users %}#}
            {#<li>{{ user.username }} <a href="{{ path('homepage_user_show', { id: user.id }) }}">view detail</a>|#}
                {#{% if user.reported == 0 %}#}
                    {#<a data-target="#report-modal" data-toggle="modal" data-whatever="{{ path('homepage_user_report', {id: user.id}) }}">Reportar</a></li>#}
                {#{% endif %}#}
        {#{% endfor %}#}
    {#</ul>#}

    <!-- Map Canvas-->
    <div class="map-canvas list-width-30">
        <div class="map">
            <div class="toggle-navigation">
                <div class="icon">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
            </div>
            <div id="map" class="has-parallax"></div>

            <div class="search-bar horizontal">
                {% include ':homepage/map:search_form.html.twig' %}
            </div>
        </div>

        <!--Items List-->
        {% include ':homepage/map:item_list.html.twig' %}
    </div>
{% endblock %}

{% block extra_js %}
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCt1dtSkxqSIbtWoF-DfeUTZb906mihfh4&libraries=places"></script>
        <script type="text/javascript" src="{{ asset('assets/spotter/js/infobox.js')}}"></script>
        <script type="text/javascript" src="{{ asset('assets/spotter/js/richmarker-compiled.js')}}"></script>
        <script type="text/javascript" src="{{ asset('assets/spotter/js/markerclusterer.js')}}"></script>
        <script type="text/javascript" src="{{ asset('assets/spotter/js/custom.js')}}"></script>
        <script type="text/javascript" src="{{ asset('assets/spotter/js/maps.js')}}"></script>
    <script>
        var _latitude = 51.541216;
        var _longitude = -0.095678;

        $.ajax({
            type: "GET",
            url: "{{ path('user_list') }}"
        }).done(function(result){
            var json = eval(result);
            console.log('data ', json);
            createHomepageGoogleMap(_latitude,_longitude,json);
        });
        // Set if language is RTL and load Owl Carousel
        $(window).load(function(){
            var rtl = false; // Use RTL
            initializeOwl(rtl);
        });

        autoComplete();

    </script>
{% endblock %}