<nav class="off-canvas-navigation">
    <header style="line-height: 70px;">{{ 'Navigation' | trans }}</header>
    <div class="main-navigation navigation-off-canvas">
        <ul>
            <li><a href="{{ path('homepage') }}" >{{ 'Home' | trans }}</a></li>
            <li><a href="listing-grid.html">Listing</a></li>
            <li><a href="about-us.html">About Us</a></li>
            <li><a href="#sub-level-1" class="has-child" data-toggle="collapse" aria-expanded="false" aria-controls="sub-level-1">Pages</a>
                <div class="collapse" id="sub-level-1">
                    <ul>
                        <li><a href="404.html">404</a></li>
                        <li><a href="#sub-level-2" class="has-child" data-toggle="collapse" aria-expanded="false" aria-controls="sub-level-2">Blog</a>
                            <div class="collapse" id="sub-level-2">
                                <ul>
                                    <li><a href="blog-listing.html">Blog Listing</a></li>
                                    <li><a href="blog-detail.html">Blog Detail</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="company-detail.html">Company Detail</a></li>
                        <li><a href="facet-search.html">Facet Search</a></li>
                        <li><a href="item-detail.html">Item Detail</a></li>
                        <li><a href="faq.html">FAQ</a></li>
                        <li><a href="pricing.html">Pricing</a></li>
                        <li><a href="profile.html">Profile</a></li>
                        <li><a href="my-items.html">My Items</a></li>
                        <li><a href="rtl.html">RTL</a></li>
                        <li><a href="terms-conditions.html">Terms &amp; Conditions</a></li>
                        <li><a href="left-sidebar.html">Left Sidebar</a></li>
                        <li><a href="right-sidebar.html">Right Sidebar</a></li>
                    </ul>
                </div>
            </li>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <li><a href="{{ path('fos_user_security_logout') }}">{{ 'Logout' | trans }}</a></li>
            {% else %}
                <li><a href="{{ path('fos_user_security_login') }}">{{ 'Sign In' | trans }}</a></li>
                <li><a href="{{ path('user_new') }}"><strong>{{ 'Register' | trans }}</strong></a></li>
            {% endif %}
        </ul>
    </div>
</nav>