<nav class="navigation-items">
    <div class="wrapper">
        <ul class="main-navigation navigation-top-header"></ul>
        <ul class="user-area">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <li>{{ app.user.firstName }} {{ app.user.lastName }}</li>
                <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
            {% else %}
                <li><a href="{{ path('fos_user_security_login') }}">Sign In</a></li>
                <li><a href="{{ path('user_new') }}"><strong>Register</strong></a></li>
            {% endif %}
        </ul>
        <div class="toggle-navigation">
            <div class="icon">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </div>
    </div>
</nav>