<nav class="navigation-items">
    <div class="wrapper">
        <ul class="main-navigation navigation-top-header"></ul>
        <ul class="user-area">
                <li><a href="{{ path('homepage') }}">Home</li>
                <li><a href="{{ path('homepage_periurban_info') }}">Red Periurban</li>
                <li><a href="{{ path('homepage_practices_info') }}">{{ 'Agroecological Practice' | trans }}</a></li> 
                <li>|</li>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <li>{{ app.user.firstName }} {{ app.user.lastName }}</li>
                <li><a href="{{ path('fos_user_security_logout') }}">{{ 'Logout' | trans }}</a></li>
            {% else %}
                <li><a href="{{ path('fos_user_security_login') }}">{{ 'Sign In' | trans }}</a></li>
                <li><a href="{{ path('user_new') }}"><strong>{{ 'Register' | trans }}</strong></a></li>
            {% endif %}
            <li><img src="{{ asset('bundles/app/img/header/oaupa_min.jpg') }}" height="80" width="140" alt="O-AUPA!" /></li>
        </ul>        
    </div>    
</nav>