{% extends 'admin/base.html.twig' %}

{% block title %}Editar contraseña{% endblock %}

{% block top_content %}
    {% embed ':_partial:breadcrumb.html.twig' %}
        {% block breadcrumb %}Editar contraseña{% endblock %}
    {% endembed %}
{% endblock %}

{% block content %}
<div class="col-md-6">
    <div class="card">
        <div class="card-header">
            <strong>Contraseña</strong>
        </div>
        <form method="POST" action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} class="form-horizontal">
            <div class="card-block">
                {#{{ dump() }}#}
                {#{{ form_widget(form) }}#}

                <div class="form-group row">
                    <label class="col-md-4 form-control-label" for="current-password">Contraseña actual</label>
                    <div class="col-md-8">
                        {{ form_widget(form.current_password, {'attr': { 'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 form-control-label" for="new-password">Nueva contraseña</label>
                    <div class="col-md-8">
                        {{ form_widget(form.new.first, { 'attr': { 'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 form-control-label" for="repeat-new-password">Repita la nueva contraseña</label>
                    <div class="col-md-8">
                        {{ form_widget(form.new.second, { 'attr': { 'class': 'form-control'}}) }}
                    </div>
                </div>
                {{ form_rest(form) }}
            </div>
            <div class="card-footer">
                <a href="{{ path('fos_user_profile_show') }}" class="btn btn-sm btn-success"><i class="fa fa-mail-reply"></i> Atrás</a>
                <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Cambio</button>
            </div>
        </form>
    </div>

{% endblock %}