{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'Edit Password' | trans }}{% endblock %}

{% block top_content %}
    {% embed ':_partial:breadcrumb.html.twig' %}
        {% block breadcrumb %}{{ 'Edit Password' | trans }}{% endblock %}
    {% endembed %}
{% endblock %}

{% block content %}
<div class="col-md-6">
    <div class="card">
        <div class="card-header">
            <strong>{{ 'Password' | trans }}</strong>
        </div>
        <form method="POST" action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} class="form-horizontal">
            <div class="card-block">
                {#{{ dump() }}#}
                {#{{ form_widget(form) }}#}

                <div class="form-group row">
                    <label class="col-md-4 form-control-label" for="current-password">{{ 'Current password' | trans }}</label>
                    <div class="col-md-8">
                        {{ form_widget(form.current_password, {'attr': { 'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 form-control-label" for="new-password">{{ 'New password' | trans }}</label>
                    <div class="col-md-8">
                        {{ form_widget(form.new.first, { 'attr': { 'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 form-control-label" for="repeat-new-password">{{ 'Repeat New password' | trans }}</label>
                    <div class="col-md-8">
                        {{ form_widget(form.new.second, { 'attr': { 'class': 'form-control'}}) }}
                    </div>
                </div>
                {{ form_rest(form) }}
            </div>
            <div class="card-footer">
                <a href="{{ path('fos_user_profile_show') }}" class="btn btn-sm btn-success"><i class="fa fa-mail-reply"></i> {{ 'Back' | trans }}</a>
                <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> {{ 'Change' | trans }}</button>
            </div>
        </form>
    </div>

{% endblock %}