<div class="card-header">
    <strong>User detail</strong>
</div>
<div class="card-block">
    <div class="form-group row">
        <label class="col-md-3 form-control-label" for="name">Name</label>
        <div class="col-md-9">
            {{ report.user.firstName }} {{ report.user.lastName }}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-3 form-control-label" for="email">Email</label>
        <div class="col-md-9">
            {{ report.user.email }}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-3 form-control-label" for="type">User Type</label>
        <div class="col-md-9">
        {% for role in report.user.roles %}
            {% if role == 'ROLE_INVESTIGATOR' %}
                Investigator
            {% elseif role == 'ROLE_PRODUCER' %}
                Producer
            {% endif %}
        {% endfor %}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-3 form-control-label" for="job-title">Job Title</label>
        <div class="col-md-9">
            {{ userProfile.jobTitle }}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-3 form-control-label" for="address">Address</label>
        <div class="col-md-9">
            {{ userProfile.address.address }}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-3 form-control-label" for="summary">Summary</label>
        <div class="col-md-9">
            {{ userProfile.summary | raw }}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-3 form-control-label" for="image-profile">Image Profile</label>
        <div class="col-md-9">
            {% if report.user.imageName %}
                <figure>
                    <img src="{{asset(vich_uploader_asset(report.user, 'image')) }}" width="50%"  style="margin: auto; display: block;">
                </figure>
            {% else %}
                Doesn't have a profile image
            {% endif %}
        </div>
    </div>
</div>