<ul class="nav">
    <li class="nav-item">
        <a class="nav-link" href="{{ path('dashboard') }}"><i class="icon-speedometer"></i> Tablero</a>
    </li>
    <li class="nav-title">
        Menu
    </li>
    <li class="nav-item nav-dropdown">
        {% if is_granted('ROLE_ADMIN') %}
        <a class="nav-link nav-dropdown-toggle" href="#"><i class="fa fa-warning"></i> Contenido reportado</a>
        <ul class="nav-dropdown-items">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('user_report_list') }}"><i class="fa fa-warning"></i> Usuarios reportados</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('news_report_list') }}"><i class="fa fa-warning"></i> Noticias reportadas</a>
            </li>
        </ul>
        {% endif %}
    </li>
    <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#"><i class="fa fa-user"></i> Usuarios</a>
        <ul class="nav-dropdown-items">
            <li class="nav-item">
                <a class="nav-link" href="icons-font-awesome.html"><i class="fa fa-users"></i> Lista de usuarios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="icons-simple-line-icons.html"><i class="fa fa-user-plus"></i> Agregar usuario</a>
            </li>
        </ul>
    </li>
    <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#"><i class="fa fa-newspaper-o"></i> Noticias</a>
        <ul class="nav-dropdown-items">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('news_list') }}"><i class="fa fa-list-alt"></i> Lista de noticias</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('news_new') }}"><i class="fa fa-plus"></i> Agregar Noticias</a>
            </li>
            <li class="nav-item nav-dropdown">
                <a href="#" class="nav-link nav-dropdown-toggle"><i class="icon-puzzle"></i>Categorías</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a href="{{ path('category_list') }}" class="nav-link"><i class="icon-puzzle"></i>Lista de categoría</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('category_new') }}" class="nav-link"><i class="icon-puzzle"></i>Agregar categoría</a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#"><i class="fa fa-file-o"></i> Archivos</a>
        <ul class="nav-dropdown-items">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('media_list') }}" target="_top"><i class="fa fa-files-o"></i> Lista de Archivos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('media_new') }}" target="_top"><i class="fa fa-upload"></i> Agregar archivos</a>
            </li>
        </ul>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('fos_user_security_logout') }}"><i class="fa fa-power-off fa-lg"></i> Cerrar sesión</a>
    </li>
</ul>