<ul class="nav">
    <li class="nav-item">
        <a class="nav-link" href="{{ path('dashboard') }}"><i class="icon-speedometer"></i> Dashboard</a>
    </li>
    <li class="nav-title">
        Menu
    </li>
    <li class="nav-item nav-dropdown">
        {% if is_granted('ROLE_ADMIN') %}
        <a class="nav-link nav-dropdown-toggle" href="#"><i class="fa fa-warning"></i> Content Reported</a>
        <ul class="nav-dropdown-items">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('user_report_list') }}"><i class="fa fa-warning"></i> Users Reported</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('news_report_list') }}"><i class="fa fa-warning"></i> News Reported</a>
            </li>
        </ul>
        {% endif %}
    </li>
    <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#"><i class="fa fa-user"></i> Users</a>
        <ul class="nav-dropdown-items">
            <li class="nav-item">
                <a class="nav-link" href="icons-font-awesome.html"><i class="fa fa-users"></i> User's List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="icons-simple-line-icons.html"><i class="fa fa-user-plus"></i> Add User</a>
            </li>
        </ul>
    </li>
    <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#"><i class="fa fa-newspaper-o"></i> News</a>
        <ul class="nav-dropdown-items">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('news_list') }}"><i class="fa fa-list-alt"></i> News List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('news_new') }}"><i class="fa fa-plus"></i> Add News</a>
            </li>
            <li class="nav-item nav-dropdown">
                <a href="#" class="nav-link nav-dropdown-toggle"><i class="icon-puzzle"></i>Categories</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a href="{{ path('category_list') }}" class="nav-link"><i class="icon-puzzle"></i>Category List</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('category_new') }}" class="nav-link"><i class="icon-puzzle"></i>Add Category</a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#"><i class="fa fa-file-o"></i> Medias</a>
        <ul class="nav-dropdown-items">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('media_list') }}" target="_top"><i class="fa fa-files-o"></i> Media's List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('media_new') }}" target="_top"><i class="fa fa-upload"></i> Add Media</a>
            </li>
        </ul>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('fos_user_security_logout') }}"><i class="fa fa-power-off fa-lg"></i> Logout</a>
    </li>
</ul>