<div class="row setup-content" id="step-3">
    <div class="col-md-12" style="text-align: center">
        <h3 class="fs-title" style="margin-top: 20px">{{ 'Theme of Study' | trans }}</h3>
    </div>
    <div class="col-md-10 col-sm-offset-1 col-centered">
        <div class="col-md-12">
            <div class="col-md-12">
                <h3 class="fs-title" style="margin-top: 20px">{{ 'Areas of knowledge' | trans }}</h3>
                <div class="col-md-10">
                    <div class="form-group">
                        <label class="col-md-4 form-control-label" for="knowledge_area">{{ 'Knowledge Area' | trans }}</label>
                        <div class="col-md-8">
                            <select class="form-control" name="knowledge_area" id="knowledge_area" required>
                                <option value="">{{ 'Select' | trans }} Area</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label style="display:none" class="col-md-4 form-control-label" for="knowledge" id="knowledge_label">{{ 'Knowledge' | trans }}</label>
                        <div class="col-md-8">
                            <select style="display:none" class="form-control" name="knowledge" id="knowledge" required>
                                <option value="">{{ 'Select' | trans }} {{ 'Knowledge' | trans }}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <h3 class="fs-title" style="margin-top: 20px">{{ 'Study Topic' | trans }}</h3>
                <div class="col-md-10">
                    <div class="form-group">
                        <label class="col-md-4 form-control-label" for="topic_category">{{ 'Topic Category' | trans }}</label>
                        <div class="col-md-8">
                            <select class="form-control" name="topic_category" id="topic_category" required>
                                <option value="">{{ 'Select' | trans }} {{ 'Topic Category' | trans }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label style="display:none" class="col-md-4 form-control-label" for="study_topic" id="study_topic_label">{{ 'Study Topic' | trans }}</label>
                        <div class="col-md-8">
                            <select style="display:none" class="form-control" name="study_topic" id="study_topic" required>
                                <option value="">{{ 'Select' }} {{ 'Study Topic' | trans }}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="col-md-12">
                <h3 class="fs-title" style="margin-top: 20px">{{ 'Research place' | trans }}</h3>
                <div class="col-md-10">
                    <div class="form-group">
                        <label class="form-control-label" for="job-title">{{ 'Research place' | trans }}</label>
                        <div class="form-group">
                            <label class="col-md-4 form-control-label" for="country">{{ 'Country' | trans }}</label>
                            <div class="col-md-8">
                                <select class="form-control" name="country" id="country2" required>
                                    <option value="">{{ 'Select' | trans }} {{ 'Country' | trans }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 form-control-label" for="region">{{ 'Region' | trans }}</label>
                            <div class="col-md-8">
                                <select class="form-control" name="region2" id="region2" required>
                                    <option value="">{{ 'Select' | trans }} {{ 'Region' | trans }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 form-control-label" for="city" id="label_city2">{{ 'City' | trans }}</label>
                            <div class="col-md-8">
                                <select class="form-control" name="research_place" id="city2">
                                    <option value="">{{ 'Select' | trans }} {{ 'City' | trans }}</option>
                                </select>
                                <input id="other_city2" type="text" style="display: none;" class="form-control" name="city_name2" placeholder="{{ 'City' | trans }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-md-4 form-control-label">
                                <a id="add_city2" style="display:none" href="#">{{ 'Add other' | trans }} ciudad</a>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary nextBtn pull-right" type="button" >{{ 'Next' | trans }}</button>
        </div>
    </div>
</div>