<fieldset>
    <h2 class="fs-title">Informacion personal</h2>
    <h3 class="fs-subtitle">Paso 1</h3>
    <div class="col-md-6">
        <div class="form-group">
            <label class="form-control-label" for="first-name">Nombre</label>
            {{ form_widget(form.first_name, { 'attr': { 'class': 'form-control', 'placeholder': 'John'}}) }}
            {{ form_errors(form.first_name) }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="form-control-label" for="last-name">Apellido</label>
            {{ form_widget(form.last_name, { 'attr': { 'class': 'form-control', 'placeholder': 'Smith'}}) }}
            {{ form_errors(form.last_name) }}
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <label for="summernote" class="form-control-label">Resumen</label>
            <textarea name="summary" id="summary" cols="30" rows="50">{{ profile.summary }}</textarea>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="form-control-label" for="email">Email</label>
            {{ form_widget(form.email, { 'attr': { 'class': 'form-control', 'placeholder': 'smith@mail.com', 'disabled': 'disabled'}}) }}
            {{ form_errors(form.email) }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="form-control-label" for="job-title">Título profesional</label>
            <input id="job-title" type="text" name="job_title" value="{{ profile.jobTitle }}" class="form-control" placeholder="Bioinvestigator">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="current-image" class="form-control-label">Imagen actual</label>
            {% if entity.imageName %}
                <figure>
                    <img src="{{asset(vich_uploader_asset(entity, 'image')) }}" width="20%"  style="margin: auto; display: block;">
                </figure>
            {% else %}
                Doesn't have a profile image
            {% endif %}
        </div>
        <div class="form-group">
            <label class="form-control-label" for="image">Cambiar imagen</label>
            {{ form_widget(form.image, { 'attr': { 'class': 'form-control'}}) }}
            {{ form_errors(form.image) }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="form-control-label" for="job-title">Lugar de residencia</label>
            <div class="form-group row">
                <label class="col-md-3 form-control-label" for="country">País</label>
                <div class="col-md-9">
                    <select class="form-control" name="country" id="country">
                        <option value="0">Seleccionar país</option>
                        {% if profile.residencePlace %}
                            {#<option value="{{ profile.residencePlace.region.country.id }}" selected>{{ profile.residencePlace.region.country.name }}</option>#}
                        {% endif %}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 form-control-label" for="region">Región</label>
                <div class="col-md-9">
                    <select class="form-control" name="region" id="region">
                        <option value="">Seleccionar región</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 form-control-label" for="city">Ciudad</label>
                <div class="col-md-9">
                    <select class="form-control" name="residence_place" id="city">
                        <option value="">Seleccionar Ciudad</option>
                    </select>
                    <input id="other_city" type="text" style="display: none;" class="form-control" name="city_name" placeholder="Nombre de la ciudad">
                </div>
            </div>
            <a id="add_city" style="display:none" href="#">Añadir otra ciudad</a>
        </div>
    </div>
    <input type="button" name="next" class="next action-button" value="Siguiente" />
</fieldset>