<div class="row setup-content" id="step-1">
    <div class="col-md-10 col-sm-offset-1 col-centered">
        <br>
        <div class="row">
            <div class="col-md-12">
                <h3 class="fs-title">{{ 'Institution Information' | trans }}</h3>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-group">
                            <label class="col-md-4 form-control-label" for="institution_type">{{ 'Institution Type' | trans }}</label>
                            <div class="col-md-8">
                                <select class="form-control" name="institution_type" id="institution_type"  required="required">
                                    <option value="">{{ 'Select Institution Type' | trans }}</option>
                                </select>
                            </div>
                        </div>
                        <br>
                        <div class="form-group" style="margin-top:30px;margin-bottom:0px;">
                            <label style="display:none" class="col-md-4 form-control-label" for="institution" id="institution_label">{{ 'Institution' | trans }}</label>
                            <div class="col-md-8">
                                <select style="display:none" class="form-control" name="institution" id="institution">
                                    <option value="">{{ 'Select Institution' | trans }}</option>
                                </select>
                                <input type="text" class="form-control" style="display:none" id="institution_name"  name="institution_name" placeholder="{{ 'Institution name' | trans }}">
                            </div>
                        </div>

                        <br>
                        <a id="add_institution" style="display:none" href="#">{{ 'Add other' | trans }} institución</a>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="col-md-3 form-control-label" for="search-address">{{ 'Address' | trans }}</label>
                        <span class="help-block">{{ 'Please type your address and move the marker' | trans }}</span>
                    </div>
                    <div class="col-md-9">
                        <input id="search-address" type="text" name="address" value="{{ profile.address ? profile.address.address : ''}}" class="form-control controls" placeholder="{{ 'Search address' | trans }}" required>
                    </div>
                    <input id="lat" type="hidden" name="latitude" value="{{ profile.address ? profile.address.latitude : 0 }}"><br>
                    <input id="lng" type="hidden" name="longitude" value="{{ profile.address ? profile.address.longitude : 0 }}">
                </div>
                <div class="form-group row" style="margin-bottom: 0rem;">
                    <div class="col-md-12">
                        <div id="map-canvas"></div>
                    </div>
                </div>
                <br>
                <button class="btn btn-success nextBtn pull-right" type="button" >{{ 'Next' | trans }} >></button>
            </div>
        </div>
    </div>
</div>