{% extends 'admin/base.html.twig' %}

{% block body %}
<body {% block body_class %}{% endblock %}>
    <div class="container d-table">
        <div class="d-100vh-va-middle">
            <div class="row">
            {% block content %}
                <div class="col-md-8 offset-md-2">
                    {% include 'messages/success.html.twig' %}
                    <div class="card-group">
                        <div class="card p-2">
                            <div class="card-block">
                                <h1>Iniciar sesión</h1>
                                <p class="text-muted">Iniciar sesión en su cuenta</p>
                                <form action="{{ path("fos_user_security_check") }}" method="post">
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                                    <div class="input-group mb-1">
                                                    <span class="input-group-addon"><i class="icon-user"></i>
                                                    </span>
                                        <input type="text" id="username" name="_username" required="required" class="form-control" placeholder="Nombre de usuario">
                                    </div>
                                    <div class="input-group mb-2">
                                                    <span class="input-group-addon"><i class="icon-lock"></i>
                                                    </span>
                                        <input type="password" id="password" name="_password" required="required" class="form-control" placeholder="Contraseña">
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <button type="submit" id="_submit" name="_submit" class="btn btn-primary px-2">Iniciar sesión</button>
                                        </div>
                                        <div class="col-xs-6 text-xs-right">
                                            <a href="{{ path('fos_user_resetting_request') }}" class="btn btn-link px-0">Se te olvidó tu contraseña?</a>
                                        </div>
                                    </div>
                                </form>
                                <br>
                                {% if error %}
                                    <div class="alert alert-danger" role="alert">{{ error|trans({}, 'FOSUserBundle') }}</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="card card-inverse card-primary py-3 hidden-md-down" style="width:44%">
                            <div class="card-block text-xs-center">
                                <div>
                                    <h2>Regístrate</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    <a href="{{ path('fos_user_registration_register') }}" class="btn btn-primary active mt-1">Regístrate ahora!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock %}
            </div>
        </div>
    </div>
</body>
{% endblock %}