<div class="col-md-3">
    <aside id="sidebar">
        <section>
            <header><h2>{{ 'News' | trans }}</h2></header>
            {% for new in entities %}
            <a href="{{ path('homepage_new_show', {'id':new.id}) }}" class="item-horizontal small">
                <h3>{{ new.title }}</h3>
                <figure>{{ new.subtitle }}</figure>
                <div class="wrapper">
                    {#<div class="image"><img src="assets/img/items/1.jpg" alt=""></div>#}
                    <div class="info">
                        <span>{{ new.category.name }}</span>
                    </div>
                </div>
            </a>
            {% endfor %}
        </section>
        <section>
            <header><h2>{{ 'Medias' | trans }}</h2></header>
            <ul class="bullets">
                {% for media in medias %}
                    <li><a href="{{ asset(vich_uploader_asset(media, 'file')) }}" download="{{ media.fileName }}">{{ media.name }}</a></li>
                {% endfor %}
            </ul>
        </section>
    </aside>
    <!-- /#sidebar-->
</div>
