{% extends ':admin:base.html.twig' %}

{% block title %}{{ 'Report Content' | trans }}{% endblock %}

{% block top_content %}
    {% embed ':_partial:breadcrumb.html.twig' %}
        {% block breadcrumb %}{{ 'Report Content' | trans }}{% endblock %}
    {% endembed %}
{% endblock %}

{% block content %}
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <strong>{{ 'Report' | trans }}</strong>
            </div>
            {{ form_start(form, {'attr':{ 'class': 'form-horizontal'}}) }}
            <div class="card-block">
                <div class="form-group row">
                    <label class="col-md-3 form-control-label" for="first-name">{{ 'Report Description' | trans }}</label>
                    <div class="col-md-9">
                        <p class="form-control-static">{{ report.description }}</p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 form-control-label" for="first-name">Feedback</label>
                    <div class="col-md-9">
                        {{ form_widget(form.feedback, { 'attr': { 'class': 'form-control'}}) }}
                    </div>
                    {{ form_errors(form.feedback) }}
                </div>
                <div class="form-group row">
                    <label class="col-md-3 form-control-label" for="status">{{ 'Report' | trans }}</label>
                    <div class="col-md-9">
                        {{ form_widget(form.status, { 'attr': { 'class': 'form-control'}}) }}
                    </div>
                    {{ form_errors(form.status) }}
                </div>
                {{ form_rest(form) }}
            </div>
            <div class="card-footer">
                {% if report.user %}
                    <a href="{{ path('user_report_list') }}" class="btn btn-sm btn-success"><i class="fa fa-mail-reply"></i> {{ 'Back' | trans }}</a>
                {% elseif report.news %}
                    <a href="{{ path('news_report_list') }}" class="btn btn-sm btn-success"><i class="fa fa-mail-reply"></i> {{ 'Back' | trans }}</a>
                {% endif %}
                <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> {{ 'Send' | trans }}</button>
            </div>
            {{ form_end(form)}}
        </div>
    </div>
    <div class="col-md-6">
        <div class="card card-outline-warning">
            {% if report.user %}
                {% include ':report/detail:user.html.twig' %}
            {% elseif report.news %}
                {% include ':report/detail:news.html.twig' %}
            {% endif %}
        </div>
    </div>
{% endblock %}