{% extends ':admin:base.html.twig' %}

{% block title %}{{ 'Agroecological Practice' | trans }}{% endblock %}

{% block top_content %}
    {% embed ':_partial:breadcrumb.html.twig' %}
        {% block breadcrumb %}{{ 'Agroecological Practice' | trans }}{% endblock %}
    {% endembed %}
{% endblock %}

{% block content %}
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> {{ 'Agroecological Practice Manager' | trans }}
            </div>
            <div class="card-block">
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>{{ 'Period' | trans }}</th>
                        <th>{{ 'Name Practice' | trans }}</th>
                        <th>{{ 'Organization Name' | trans }}</th>
                        <th>{{ 'Description' | trans }}</th>
                        <th>{{ 'Type' | trans }}</th>
                        <th>{{ 'Reported' | trans }}</th>
                        <th>{{ 'Actions' | trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {%  for entity in entities %}
                        <tr>
                            <td>{{ entity.id }}</td>
                            <td>{{ entity.created | ago }}</td>
                            <td>{{ entity.practiceName }}</td>
                            <td>{{ entity.organizationName }}</td>
                            <td>{{ entity.description | truncate(10) }}</td>
                            <td>
                                {% if entity.getProductiveUndertaking() %}
                                    {{ 'Productive Undertaking' | trans }}
                                {% endif %}
                                {% if entity.getMarketingSpaces() %}
                                    {{ 'Marketing Spaces' | trans }}
                                {% endif %}
                                {% if entity.getProfessionalServices() %}
                                    {{ 'Professional Services' | trans }}
                                {% endif %}
                                {% if entity.getInstitutionalProject() %}
                                    {{ 'Institutional Projects' | trans }}
                                {% endif %}
                                {% if entity.getPromotionGroup() %}
                                    {{ 'Promotion Group' | trans }}
                                {% endif %}
                            </td>
                            <td>
                                {% if entity.reported == 0 %}
                                    NO
                                {% else %}
                                    {{ 'YES' | trans }}
                                {% endif %}
                            </td>
                            <td>
                                <a data-target="#delete-modal" data-toggle="modal" data-whatever="{{ path('agroecological_practice_delete', {id: entity.id}) }}"><i class="fa fa-trash"></i></a>
                                <a href="{{ path('agroecological_practice_edit', {id: entity.id}) }}"><i class="fa fa-pencil"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">{{ 'Prev' | trans }}</a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">4</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">{{ 'Next' | trans }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}